<h2> passer  qcm : {{qcm.nom}}</h2>
<ul>
<li *ngFor="let t of qcm.questions" class="list-group-item  " >
<h3> Question n°: {{t.id + 1}}</h3>
<h4>{{t.question}} </h4>
<ng-container *ngIf="t.type=='unerep'; else plus">
    <ng-container *ngFor="let x of t.proposition">
        <input  type="radio" name="t.id" value="x">{{x}}<br>
    </ng-container>
</ng-container>
<ng-template #plus>
    <ng-container *ngFor="let x of t.proposition">
        <input  class="" type="checkbox"  value="x">{{x}}<br>
    </ng-container>
</ng-template>

</li>


</ul>